<!DOCTYPE html>
<html>
<head>
	<title>AVAILABLE TUITION</title>
</head>
<body>
		
				<% for(var i=0; i < userList.length; i++){ %>
				
		<%= userList[i].id %>
	    <%= userList[i].area %>
		<%= userList[i].class %>
	    <%= userList[i].subject %>
		<%= userList[i].tuition_provider %>
			
			<% } %>	
				
			
				
		
				
			
</body>
</html>